.main_cont{
    /* border: 1px solid gray; */
      margin: 0;
        padding: 0;
        box-sizing: border-box;
         width: 95%;
         margin: auto;

     
     }
nav{
    /* border: 1px solid gray; */
    width: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(33, 5, 51);
    color: rgb(255, 255, 255);
    padding: 10px;
    position: sticky;
       top: 0;
    z-index: 100;
   
}
.logo{
    width: 12%;
  }
.logo img{
    width: 35%;
    height: 70px;
    border-radius: 50px;
}
.link{
    width: 65%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    font-size: large;
    font-weight: bold;
 
      
}
.link a{
    text-decoration: none;
    border-bottom: 2px solid aliceblue;
    
    padding: 5px;
    border-radius: 10px;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.link a:hover{
    color: rgb(4, 63, 255);  
    background-color: white;    
   
}
.user{
     width: 15%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
  
}
.user img{
    width: 25%;
    height: 70px;
    border-radius: 50px;
}
.user span{
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: auto;
   font-weight: bold;
   
   text-align: right;
}
/* login  form and registration form css-------------------------------------------  */
.form_container{
    width: 100%;
    margin: 20px auto;
   }
#form {
    width: 40%;
    margin: 20px auto;
    color: rgb(81, 9, 129);
    padding: 20px;
    border-radius: 10px;
     font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h2 {
    text-align: center;
    border-bottom: 1px solid gray;
    background-color: rgb(183, 150, 204);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 0px 20px 10px 50px;
    /* color: rgb(144, 67, 192); */
}
input,label {
    width: 97%;
    margin: auto;
    padding: 10px;
    font-weight: bold; 
 
 
  
     
}

a {
    color: rgb(255, 157, 10);
    font-weight: bold;
}
.btns {
    width: 95%;
    margin: 20px auto;
    color: rgb(0, 119, 255);
    text-align: center;
    border: none;
}
#btn {
    width: 100px;
    height: 40px;
    background-color: rgb(30, 255, 0);
    border-radius: 10px;
    font-size: x-large;
    color: blue;
    font-weight: bold;
}
#btn:hover {
    background-color: rgb(255, 94, 0);
    transition: ease-in-out 1s;
    cursor: pointer;
    transform: scale(0.98);
}
/* -------------------------------------hero section-------------------------------- */
.hero_section background img{
    width: 100%;
    height: 150px;
}
.hero_section div p{
 /* width: 95%; */
 padding: 50px;
 margin: auto;
 height: 850px;

 background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/2854.jpg);
/* background-image: url(https://akm-img-a-in.tosshub.com/indiatoday/images/story/202307/christopher-gower-m_hrflhgabo-unsplash-sixteen_nine.jpg?VersionId=LEIuXirwwcZ8XPrnu3GcBeSmv3FR7V1q&size=690:388); */
background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color: rgb(255, 255, 255);
    align-content:start;
    text-align: center;
    display: grid;
    line-height: 2.2;
}

/* ------------------------api section------------------------------- */
#api_section{
    width: 100%;     
}
#cart {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

#cart div {
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: ease-in-out 1s;
}
#cart div:hover{
    transform: scale(1.02);
}
img{
    width: 80%;
    height: 250px;
}

 /* contact us css----------------------------------------------------------- */
 .contact_section{
    padding: 10px 0;
    width: 100%;
    margin:20px auto;
    display: flex;
    justify-content: space-between;
  
}
.contact_div{
    width: 48%;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       }
#contact_form{         
    width:97%;
    margin: 0 auto;
    padding: 20px; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
     background-color: #f5f5f5;
}
#contact form label,input,textarea{
    width: 100%;
    padding: 10px 0px;
    border-radius: 5px ;
}
#contact_form div{
 text-align: center;
   }
#contact_btn{
width: 20% ;
padding: 10px 0px;
border-radius: 5px ;
font-size: large;
font-weight: bold;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: rgb(3, 252, 36);
}
#contact_btn:hover{
background-color: rgb(3, 235, 252);
cursor: pointer;
transform: scale(0.95);
transition: ease-in-out 1s;
}
.aside_image{
width: 49%;
border-radius: 10px;
/* border: 1px solid gray; */

}
.aside_image img{
width: 100%;
height:570px;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* footer section css--------------------------------------------- */
footer{
    background-color: rgb(33, 5, 51);
    color: rgb(255, 255, 255);
    margin: 20px auto;
    padding: 10px;
}
.footer_div{
    background-color: rgb(33, 5, 51);
    color: rgb(255, 255, 255);
    display: flex;
  justify-content: space-between;
  padding: 10px;
}
.copyright{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

@media screen and (min-width:200px) and (max-width:468px) {
    .main_cont{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
        width: 100%;
    
    }
    /* nav section----------------------------------------------- */
    nav{
       
        padding: 0px;
        
    }    
    .logo{
        width: 45%;
       }
       .log img{
        width: 30%;
       }
       .link{
        display: none;
       }
       .user{
        width: 50%;
       }
       .user img{
        width: 35%;
       }
/* -------login form and registration form-------------- */
#form {
    width: 90%;
    margin: 20px auto;
    color: rgb(81, 9, 129);
    padding: 10px;
    border-radius: 10px;   
    font-size:large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
input,label {
    width: 94%;
    margin: auto;
    padding: 10px;
    font-weight: bold;
    margin: auto;  
      
}
h2 {
    width: 90%;
    margin: auto;
    text-align: center;
    /* background-color: rgb(250, 163, 2); */
    padding: 5px;
    border-radius: 0px 20px 10px 50px;
    
}
/* hero section--------------------------------------------------------------- */
.hero_section div p{
       padding:20px;
       margin: 5px auto;
       height:30vh;
       background-repeat: no-repeat;
       background-size: cover;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-weight: bold;
       font-size:small;
       line-height: 1.5;
       display: grid;
   }
/*  api section---------------------------- */
#cart {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

#cart div {    
    padding: 25px;     
}
/* contact us css----------------------------------------------------------- */
.contact_section{
    padding: 0px 0;
    width: 100%;
    margin:20px auto;
    display: block;    
}
.contact_div{
    width: 96%;   
       }
#contact_form{         
    width:98%;
    padding: 10px; 
}
#contact_btn{
    width: 30% ;    
    }   
    .aside_image{
    width: 100%;
    margin: 20px auto;
       
    }
   
/* footer------------------------------------------------------- */
footer{
    background-color: rgb(33, 5, 51);
    color: rgb(255, 255, 255);
    margin: 20px auto;
    padding: 10px;
}
.footer_div{
    background-color: rgb(33, 5, 51);
    color: rgb(255, 255, 255);
    display: block;
  text-align: center;
  padding: 10px;
}
.copyright{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

}



@media screen and (min-width:469px) and (max-width:721px) {

    nav{
       
        padding: 10px;
        
    }    
    .logo{
        width: 30%;
       }
       .log img{
        width: 25%;
       }
       .link{
        display: none;
       }
       .user{
        width: 50%;
       }
       .user img{
        width: 25%;
       }
    /* registration form------------------------------------------------ */
#form {
    width: 90%;
    margin: 20px auto;
    color: rgb(81, 9, 129);
    padding: 20px;
    border-radius: 10px;   
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
input,
label {
    width: 98%;
    margin: auto;
}
.hero_section div p{
     padding:20px;
    margin: 5px auto;
    height:30vh;
       background-repeat: no-repeat;
       background-size: cover;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-weight: bold;
       font-size:small;
       display: grid;
   }

   /* api section-------------------------------- */
   #cart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#cart div {    
    padding: 15px;     
}
/* contact us css----------------------------------------------------------- */
.contact_section{
    padding: 0px 0;
    width: 100%;
    margin:20px auto;
    display: block;    
}
.contact_div{
    width: 97%;   
       }
#contact_form{         
    width:99%;
    padding: 10px; 
}
#contact_btn{
    width: 30% ;    
    }   
    .aside_image{
    width: 100%;
    margin: 20px auto;
       
    }
   
/* footer------------------------------------------------------- */
footer{
    background-color: rgb(33, 5, 51);
    color: rgb(255, 255, 255);
    margin: 20px auto;
    padding: 10px;
   
}
.footer_div{
    background-color: rgb(33, 5, 51);
    color: rgb(255, 255, 255);
    display: block;
   padding: 10px;
   text-align: center;
}
.copyright{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
}


@media screen and (min-width:722px) and (max-width:1020px) {
    
    nav{
       width: auto;
        padding: 5px;
        
    }    
    .logo{
        width: 25%;
       }
       .log img{
        width: 30%;
       }
       .link{
       width: auto;
        display: block;
        gap: 10px;
       }
       .user{
        width: 20%;
       }
       .user img{
        width: 40%;
       }
    #form {
        width: 90%;
        margin: 20px auto;
        color: rgb(81, 9, 129);
        padding: 20px;
        border-radius: 10px;   
        font-size: x-large;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    }
    input,
    label {
        width: 98%;
        margin: auto;
    }
    .hero_section div p{
        /* width: 100%; */
        padding:20px;
        margin: 5px auto;
        height:50vh;
        /* background-image: url(https://wallpapers.com/images/high/tree-resembling-cerebral-cortex-xgqhghhr3d8pr4lt.webp); */
           background-repeat: no-repeat;
           background-size: cover;
           font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           font-weight: bold;
           font-size:large;
           /* color: rgb(255, 255, 255); */
           /* align-items: center; */
           display: grid;
       }
/* api section-------------------------------- */
#cart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#cart div {    
    padding: 15px;     
}
/* contact us css----------------------------------------------------------- */
.contact_section{
    padding: 10px 0;
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;    
}
.contact_div{
    width:48%;   
       }
#contact_form{         
    width:95%;
    padding: 10px; 
}
#contact_btn{
    width: 30% ;    
    }   
    .aside_image{
    width:49%;
    margin: 0px auto;
   
       
    }
    .aside_image img{
        width: 100%;
        height:550px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
   

   /* footer------------------------------------------------------- */
footer{
    background-color: rgb(33, 5, 51);
    color: rgb(255, 255, 255);
    margin: 20px auto;
    padding: 10px;
}
.footer_div{
    background-color: rgb(33, 5, 51);
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    font-size: large;
  padding: 10px;
}

.copyright{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
    }
    

